/* Profile Layout with Thumbnails and Primary Image (include-profile-layout1.php) */

#rblayout-one #profile-picture,
#rblayout-one #links,
#rblayout-one #stats { margin: 0px 0px 30px 0px; }
#polaroids h3 { font-size: large; margin-bottom: 9px; padding-bottom: 0; }
#polaroids .rbcolumn { margin-bottom: 30px; }
.rblayout .profile-photos { margin-top: 15px; }