/* CSS Document */

/* Global Style */

.rbclear {
	clear: both;
}
.rblayout {
	line-height: 20px;
	overflow: hidden;
}
.rbagency-search .entry-title { margin-bottom: 30px; }

/* Profile Results */
#profile-list {
	font-size: 0;
	margin-top: 40px;
}
#profile-list .rbprofile-list {
	width: 33.33333333333333%;
	padding: 10px 20px 20px 0px;
	font-size: 100%;
	max-width: 200px;
	min-width: 150px;
	margin-bottom: 15px;
	position: relative;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	line-height: normal;
}
#profile-list .rbprofile-list .image {
	width: 100%;
	height: 230px;	
	overflow: hidden;
	text-align: center;
	position: relative;
}
#profile-list .rbprofile-list .image a {
	float: left;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
#profile-list .rbprofile-list .image img {
	float: left;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
#profile-list .rbprofile-list .image img.fillheight {
	max-height: 100%;
	max-width: none!important;
}
#profile-list .rbprofile-list .image.image-broken {
	text-align: center;
	line-height: 230px;
	background: #f8ced6;
}
#profile-list .rbprofile-list .image.image-broken a {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#profile-list .rbprofile-list .profile-info {
	
}
#profile-list .rbprofile-list .profile-info .details {
	font-size: 13px;
}
#profile-list .rbprofile-list .profile-info .details span{ 
   display: block;
}
#profile-list .rbprofile-list .profile-info h3.name {
	margin: 0;
	margin: 5px 0;
	font-size: 13px;
	overflow: hidden;
	line-height: normal;	
}
#profile-list .rbprofile-list .profile-info h3.name a {
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
}

/* Featured Profile Widget */
#profile-featured {
	text-align: center;
}

/* RBLinks */
.rblinks {
	clear: both;
	font-size: 13px;
	padding: 15px 0;
	overflow: hidden;
}
.rblinks .rbprint-download {
	float: left;
}
.rblinks .rbfavorites-castings {
	float: right;
}

/*  */
#profile-results-info {
	float: right;
	padding: 5px 0px;
}
#results-options {
	float: left;
}
#results-info {
	float: right;
}
.rbsort {
	margin-bottom: 10px;
}
.rbsort select {
	margin-left: 0;
	margin-right: 5px;
	border-radius: 3px;
}
.rbfilter-letter {	
	margin-top: 15px;	
	padding: 5px 10px;
	border-radius: 3px;
	background: #eee;
}
.rbfilter-letter a {
	padding: 5px;
}

/* Pagination */
.rbpagination-top {
	margin-top: 15px;
}
.rbpagination { 
	float: left;
	clear: left;
	font-size: 13px;
	padding:2px 5px 0px 0px;
}
.rbpagination > span, .rbpagination > a { 
	float: left;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	color: #666;
	background: #ddd;
}
.rbpagination > .pagedir:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.rbpagination > .pagedir:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.rbpagination > span.current {
	font-weight: bold;
	background: #eee;
}
.rbpagination > span:hover, .rbpagination > a:hover {
	background: #eee;	
}


/* Profile Results Casting */

.favorite-casting .castingcart {
  float:right;
}
.favorite-casting .favorite {
  float:left;
}
.favorite-casting .castingcart a {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: url(../style/icon-sprite.png) no-repeat;
}
.favorite-casting .castingcart a.saved_castingcart {
  background-position: 0 0;
}
.favorite-casting .castingcart a.save_castingcart {
  background-position: 0 -16px;
}
.favorite-casting .favorite a {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: url(../style/icon-sprite.png) no-repeat;  
}
.favorite-casting .favorite a.save_favorite {
	background-position: 0 -48px;
}
.favorite-casting .favorite a.favorited {
  background-position: 0 -31px;
}

/* Search Forms */
.rbsearch-form .search-field {
	clear: both;
	border: none;
	padding: 7px 0;
	max-width: 400px;
	overflow: hidden;
}
.rbsearch-form .search-field.submit {
	padding: 15px 0;
	text-align: center;
}
.rbsearch-form .search-field.single label {
	width: 35%;
	float: left;
}
.rbsearch-form .search-field.single input,
.rbsearch-form .search-field.single select {
	margin: 0;
	width: 62.4%;
	float: left;
}
.rbsearch-form .search-field.single select {
	width: 65%;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.single select {
	width: 100%;
}
.rbsearch-form .search-field select,
.rbsearch-form .search-field input[type="text"] {
	margin: 0px;
	padding: 5px;
	border: none;
}
.rbsearch-form .search-field.multi legend {
	float: left;
	width: 35%;
}
.rbsearch-form .search-field.multi label {
	float: left;
	width: auto;
	clear: both;
	line-height: normal;
}
.rbsearch-form .search-field.multi div {
	width: 31%;
	float: left;
}
.rbsearch-form .search-field.multi div:last-child {
	float: right;
}
.rbsearch-form .search-field.multi div label {
	width: 100%;
	float: left;
}
.rbsearch-form .search-field.multi div input[type="text"] {
	margin: 0;
	width: 92%;
	float: left;
}
.rbsearch-form .search-field.multi div select {
	width: 100%;
}
.rbsearch-form .search-field.multi label input[type="checkbox"],
.rbsearch-form .search-field.multi label input[type="radio"] {
	margin: 0;
	float: left;
}
.rbsearch-form .search-field.single label, .rbsearch-form .search-field.multi legend {
	font-weight: bold;
}

/* Widget Form */
.rb_agency_widget_showsearch .rbsearch-form .search-field {
	width: 100%;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.single label {
	width: 100%;
	float: none;
	display: block;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.single input[type="text"] {
	width: 100%;
	float: none;
	display: block;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div label {
	width: 100%;
	float: none;
	display: block;
	text-align: left;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div input[type="text"],
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div select {
	width: 100%;
	float: left;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div input[type="text"] {
	text-align: right;
}

/* Dashboard */
#rbdashboard {
	overflow: hidden;
	margin-bottom: 60px;
}
#rbdashboard h1 {
	margin-bottom: 30px;
}
#rbdashboard h2 {
	margin-bottom: 15px;
}
#rbdashboard #profile-info {
	width: 30%;
	float: right;
}
#rbdashboard #profile-info h3 {
	margin-bottom: 15px;
}
#rbdashboard #profile-info h4 {
	padding: 10px 0 0 0;
}
#rbdashboard #profile-info ul {
	margin: 0;
	list-style: none;
}
#rbdashboard #profile-info ul li {
	list-style: none;
	padding: 5px 0;
}
#rbdashboard #search {
	width: 65%;
	float: left;
}
img.fillwidth {
	width: 100%;
	height: auto;
}
img.fillheight {
	height: 100%;
	width: auto;
	max-width: none!important;
}

/* Category List: /profile-category/ (view-category.php) */
#profile-category .standardTable { width: 100%; }
#profile-category h1.profile-category-title { }
#profile-category-list { font-size: 18px; overflow: hidden; }
#profile-category-list .profile-category { width: 310px; float: left; margin: 0 0 10px 0; }
#profile-category-list .profile-category .name { }
#profile-category-list .profile-category .name a { text-decoration: none; border-bottom: 1px solid #CDF; }
#profile-category-list .profile-category .name span.count { color: #999; padding-left: 5px; font-size: 17px; }

/* -Results */
#profile-category .profile-category-results-wrapper { vertical-align: top; width: 70%; }
#profile-category .profile-category-results-wrapper .agency-category-results { }

/* -Filter Profiles */
#profile-category .profile-category-filter-wrapper { vertical-align: top; width: 30%; }
.profile-category-filter { color: #111; padding: 10px; overflow: hidden; background: #e5e5e5; margin: 10px 0; }
.profile-category-filter h4 { margin: 0; font-weight: bold; border-bottom: 3px solid #aaa; padding: 0 0 10px 0; }
.profile-category-filter .search-field { float: left; clear: both; border-bottom: 1px solid #aaa; padding: 5px 0; width: 100%; }
.profile-category-filter .search-field .label { margin: 0 0 5px 0; }
.profile-category-filter .search-field input[type="text"], .profile-category-filter .search-field label { float: left; }
.profile-category-filter .search-field .stubby { width: 80px; float: left; }
.profile-category-filter .search-field.double label { margin: 0 10px 0 10px; width: auto; padding: 0; border: none; }
.profile-category-filter .search-field label { width: 120px; text-align :right; padding: 0 10px 0 0; line-height: 22px; }
.profile-category-filter .search-field label[for="ProfileCustomID7"] { line-height: normal; }
.profile-category-filter .search-field select#ProfileType { width: 50%; }

#profile-category #profile-search-form-condensed { overflow: hidden; background: #e5e5e5; margin: 10px 0; }
#profile-category .profile-category-filter-wrapper .agency-category-filter { }

/* Search Form: Wrapper  /profile-search/ (view-search.php) */
#profile-search { }
#profile-search .standardTable { width: 100%; margin: 20px 0 0 0; }
#profile-search h1.profile-search-title { }

/* Results */
#profile-search .profile-search-results-wrapper { vertical-align: top; width: 70%; }
#profile-search .profile-search-results { }

/* Filter Profiles */
.profile-search-filter-wrapper input.button-primary { margin: 20px 0 0 30%; }
#profile-search .profile-search-filter-wrapper { vertical-align: top; width: 30%; padding: 0; }
#profile-search .profile-search-filter { padding: 10px 10px 20px 10px; background: #eee; overflow: hidden; color: #111; }
#profile-search .profile-search-filter h3 { margin: 0 0 10px 0; padding: 0 0 5px 0; border-bottom: 3px solid #999; }
#profile-search .profile-search-filter .search-field { float: left; clear: both; border-bottom: 2px solid #aaa; padding: 10px 0; width: 100%; }
#profile-search .profile-search-filter .search-field .label { margin: 0 0 10px 0; padding: 0 0 5px 0; border-bottom: 1px solid #ccc; }
#profile-search .profile-search-filter .search-field input[type="text"], #profile-search .profile-search-filter .search-field label { float: left; }
#profile-search .profile-search-filter .search-field.single input[type="text"] { width: 48%; }
#profile-search .profile-search-filter .search-field .stubby { width: 24%; float: left; }
#profile-search .profile-search-filter .search-field.double label { margin: 0 10px 0 10px; width: 15%; padding: 0; border: none; line-height: 22px; }
#profile-search .profile-search-filter .search-field label { width: 45%; text-align :right; padding: 0 10px 0 0; line-height: 12px; }
#profile-search .profile-search-filter .search-field label[for="ProfileCustomID7"] { line-height: normal; }
#profile-search .profile-search-filter .search-field select { width: 50%; height: 24px; }

/* Search Form: Advanced  /client-view/{code}/ (view-profilesecure.php) */
#profile-private  { }

/* Profile Sidebar */
#profile-sidebar { width: 200px; padding: 10px; float: right; }
#profile-sidebar a { color: #28536C; }
#profile-sidebar a:hover { color: #2F617F; }  
#profile-sidebar ul { margin: 0; padding: 0; }
#profile-sidebar ul li { list-style: none; }
#profile-links a { text-decoration: none; }

/* Profile View */
#rbprofile #info-links h2 { padding: 15px 0px; margin: 15px 0px 0px 0px; font-size: initial; }
#rbprofile #stats ul,
#rbprofile #links ul { list-style: none; margin: 0px; padding: 0px; font-size: 13px; }
#rbprofile #stats ul li { margin: 0px; }
#rbprofile #links ul li { padding: 7px; border-bottom: 1px solid #ddd; }
#rbprofile #links ul li a { text-decoration: none; font-size: 13px; }
#rbprofile #profile-picture { background: #e9e9e9; padding: 7px; float: left; }
#rbprofile #profile-picture img { width: 100%; max-width: 100%; float: left; }
.rbcolumn .addthis_toolbox { margin-bottom: 15px; padding: 7px; background: #ddd; }
.rblayout .profile-photos { padding: 10px 0px 0px 10px; background: #e9e9e9; overflow: hidden; }
.rblayout .profile-photos .photo { vertical-align: top; float: left; margin: 0px 10px 10px 0px; }

#video_player {height:500px; width:66%;}
#video_player .vids{height:500px; width:100%; display:none; position:absolute; z-index:0; top:0px; left:0px;}
#video_player .act_vids{height:500px; width:100%; display:block; position:absolute; z-index:100; top:0px; left:0px;}
.video_player{width:150px; height:92px; display:block; }
#videos-carousel{height:160px;}
#videos-carousel li{ height:100px; width:150px; float:left; margin-left:5px; display:inline;}
#videos-carousel figure{ height:100%; width:100%;}

/* Quick Search */
#rbquick-search { overflow: hidden; padding: 30px 0; padding-top: 0; margin-top: 30px; }
#rbquick-search h2 { margin-bottom: 15px; text-transform: uppercase; }
#rbquick-search .rbsearch-form .search-field { float: left; margin: 0 15px; width: auto; padding: 0; clear: none; margin-bottom: 15px; }
#rbquick-search .rbsearch-form .search-field label,
#rbquick-search .rbsearch-form .search-field legend,
#rbquick-search .rbsearch-form .search-field select,
#rbquick-search .rbsearch-form .search-field input { text-transform: uppercase; }
#rbquick-search .rbsearch-form .search-field label,
#rbquick-search .rbsearch-form .search-field legend { width: auto; font-weight: normal; line-height: 22px; }
#rbquick-search .rbsearch-form .search-field input[type="text"] { padding: 2px; border-radius: 0; margin: 0 5px; width: 200px; }
#rbquick-search .rbsearch-form .search-field select { border: 1px solid #ccc; background: #fff; padding: 1px; margin: 0 5px; width: auto; }
#rbquick-search .rbsearch-form .search-field.multi > div { width: auto; margin: 0; }
#rbquick-search .rbsearch-form .search-field.multi > div,
#rbquick-search .rbsearch-form .search-field.multi legend,
#rbquick-search .rbsearch-form .search-field.multi input { float: left; }
#rbquick-search .rbsearch-form .search-field.multi input { width: 100px; }


/** Sign In - Register **/
#rbsignin-register { text-align: center; vertical-align: top; }
#rbsignin-register .inline-block { padding: 15px; text-align: left; vertical-align: top; margin: 15px; max-width: 350px; display: inline-block; }
#rbsignin-register .inline-block h1 { margin-bottom: 10px; }

/* Sign In */
#rbsignin-register .inline-block .field-row { padding: 10px 0; }
#rbsignin-register .inline-block .field-row label { display: block; margin-bottom: 5px; }
#rbsignin-register .inline-block .field-row input[type="text"],
#rbsignin-register .inline-block .field-row input[type="password"] { width: 100%; }
#rbsignin-register .inline-block .field-row input[type="password"] { margin-bottom: 5px; }

.rb_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.rb_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.rb_button:active {
	position:relative;
	top:1px;
}
#profile-links { margin-top: 15px; }
#profile-links a { display: block; border: 1px solid #ddd; border-top: none; padding: 5px 10px }
#profile-links a:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; border-top: 1px solid #ddd; }
#profile-links a:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

/* Print Profile Photos */
#print-photos form .print-photo { float: left; margin: 0px 3px 7px 3px; border: 1px solid #ddd; }
#print-photos form .print-photo .print-action { padding: 5px 3px; background: #eee; }
#print-photos form > a img { float: left; margin: 0px 10px 10px 0px; }

/* Button Group */
.rbbtn-group { margin-bottom: 15px; }
#profile-casting a,
#profile-favorite a { width: 50%; text-align: center; font-size: 13px; border-right: 1px solid #ddd; width: 1%; display: table-cell; }
#profile-favorite a:last-child { border-right: none; }

.restricted h2{padding-left:17px;}

/* RB Columns */
.rbcolumn, .rbcol:before, .rbcol:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.rbcolumn { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.rbcolumn.centered { float: none; margin: 0 auto; }
[class*="rbcolumn"] + [class*="rbcolumn"]:last-child { float: right; }
[class*="rbcolumn"] + [class*="rbcolumn"].end { float: left; }
.rbcol-1 { width: 8.33333%; }
.rbcol-2 { width: 16.66667%; }
.rbcol-3 { width: 25%; }
.rbcol-4 { width: 33.33333%; }
.rbcol-5 { width: 41.66667%; }
.rbcol-6 { width: 50%; }
.rbcol-7 { width: 58.33333%; }
.rbcol-8 { width: 66.66667%; }
.rbcol-9 { width: 75%; }
.rbcol-10 { width: 83.33333%; }
.rbcol-11 { width: 91.66667%; }
.rbcol-12 { width: 100%; }

/* Small Devices ------------ */
@media only screen and (max-width: 768px) {
 
  body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  /* The Grid --- */
  .rbcolumn { width: auto !important; float: none; margin-bottom: 30px; clear: both; }
  .rbcolumn:last-child { float: none; }
  [class*="rbcolumn"] + [class*="rbcolumn"]:last-child { float: none; }
  .rbcolumn:before, .rbcolumn:after { content: ""; display: table; }
  .rbcolumn:after, { clear: both; }
}

#rbprofile-11 .image{
width: 145px;
height: 160px;
background-size: 150px;
display: block;
}
.rb_profile_tool { font-size: 13px; }
.rb_profile_tool div.favorite { float: left; }
.rb_profile_tool div.casting { float: right; padding-top: 5px; }
.rb_profile_tool a { text-decoration: none; }
.rb_profile_tool a.active.favorite { color:#ccc;font-size: 17px; }
.rb_profile_tool a.active.castingcart { color:#ccc; }
.rb_profile_tool a.inactive.favorite, .rb_profile_tool  a.active.favorite:hover { color:#DD1818;font-size: 17px; }
.rb_profile_tool a.inactive.castingcart, .rb_profile_tool  a.active.castingcart:hover { color:#FFDA18; }
.rb_profile_tool a span { font-size:11px; color:#000; }
 
#profile-single-view.rb_profile_tool span { font-size:13px; }
#profile-list .rbprofile-list .profile-info h3.name a:visited{
	color:#21759b;
}

.rb_profile_tool div.favorite {
text-align: center;
background: #E6E2FA;
margin-bottom: 2px;
}
.rb_profile_tool a.inactive.favorite, .rb_profile_tool a.active.favorite:hover {
color: #DD1818;
font-size: 12px;
}
.rb_profile_tool div.casting {
background: #E6E2FA;
text-align: center;
}
.rb_profile_tool a.inactive.castingcart, .rb_profile_tool a.active.castingcart:hover {
color: #FFDA18;
font-size: 12px;
}
#profile-list span.details-state {
  padding-left: 52px;
}
#profile-list span.divider {
  display: inline;
  float: left;
}
#profile-list span.details-age {
  float: left;
}