/* Profile Layout (Display Model Contact Information)  (include-profile-layout4.php) */

#rblayout-four #name { margin-bottom: 15px; }
#rblayout-four h3 { margin: -15px -15px 0 -15px; font-weight: normal; padding: 15px; }
#rblayout-four #profile-info { padding: 15px; }
#rblayout-four #profile-info .stats { font-size: 13px; }
#rblayout-four #profile-info .stats ul { margin: 0px 0px 15px 0px; padding: 0px; list-style: none; }
#rblayout-four .col_8 h3 { margin-top: 0px; }
#rblayout-four #photos { overflow: hidden; }
#rblayout-four #photos .photo { float: left; width: 25%; height: 200px; padding: 0 10px 0 0; overflow: hidden; margin-bottom: 10px; }
#rblayout-four #photos .photo img { max-width: 100%; }
#rblayout-four #photos .photo:last-of-type a,
#rblayout-four #photos .photo:nth-child(3n+0) a { border-right: none; }
#rblayout-four #photos .photo:nth-last-child(-n+3) a { border-bottom: none; }
