/* CSS Document */

/* Global Style */

.rbclear {
	clear: both;
}
.rblayout {
	line-height: 20px;
}

/* Profile Results */
#profile-list {
	font-size: 0;
	margin-top: 30px;
	text-align: center;
}
#profile-list .rbprofile-list {
	width: 22%;
	margin: 7px;
	font-size: 100%;
	max-width: 150px;
	position: relative;
	display: inline-block;
}
#profile-list .rbprofile-list .image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	box-shadow: 0 0 3px;
	border: 2px solid #fff;
	position: relative;
}
#profile-list .rbprofile-list .image img {
	float: left;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
#profile-list .rbprofile-list .image img.fillheight {
	max-height: 100%;
	max-width: none!important;
}
#profile-list .rbprofile-list .image.image-broken {
	height: 200px;
	text-align: center;
	line-height: 200px;
	background: #f8ced6;
}
#profile-list .rbprofile-list .image.image-broken a {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#profile-list .rbprofile-list .profile-info {
	
}
#profile-list .rbprofile-list .profile-info .details {
	font-size: 13px;
	text-align: center;
}
#profile-list .rbprofile-list .profile-info h3.name {
	margin: 0;
	margin: 5px 0;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
	line-height: normal;	
}
#profile-list .rbprofile-list .profile-info h3.name a {
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
}

/* RBLinks */
.rblinks {
	clear: both;
	font-size: 13px;
	padding: 15px 0;
	overflow: hidden;
}
.rblinks .rbprint-download {
	float: left;
}
.rblinks .rbfavorites-castings {
	float: right;
}

/* Pagination */
.rbpagination { 
	float: left;
	clear: left;
	font-size: 13px;
}
.rbpagination > span, .rbpagination > a { 
	float: left;
	padding: 3px;
}

/* Profile Results Casting */
#profile-results .rbprofile-list .favorite-casting {
	padding: 5px;
	overflow: hidden;
}
#profile-results .rbprofile-list .castingcart {
  float:right;
}
#profile-results .rbprofile-list .favorite {
  float:left;
}
#profile-results .rbprofile-list .castingcart a {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: url(../style/icon-sprite.png) no-repeat;
}
#profile-results .rbprofile-list .castingcart a.saved_castingcart {
  background-position: 0 0;
}
#profile-results .rbprofile-list .castingcart a.save_castingcart {
  background-position: 0 -16px;
}
#profile-results .rbprofile-list .favorite a {
  width: 13px;
  height: 12px;
  display: inline-block;
  background: url(../style/icon-sprite.png) no-repeat;  
}
#profile-results .rbprofile-list .favorite a.save_favorite {
	background-position: 0 -48px;
}
#profile-results .rbprofile-list .favorite a.favorited {
  background-position: 0 -31px;
}

/* Search Forms */
.rbsearch-form .search-field {
	float: left;
	clear: both;
	width: 300px;
	border: none;
	padding: 7px 0;
}
.rbsearch-form .search-field.submit {
	padding: 15px 0;
}
.rbsearch-form .search-field.single label {
	width: 35%;
	float: left;
}
.rbsearch-form .search-field.single input,
.rbsearch-form .search-field.single select {
	margin: 0;
	width: 65%;
	float: left;
}
.rbsearch-form .search-field.single input,
.rbsearch-form .search-field.multi div input[type="text"] {
	padding: 5px;
}
.rbsearch-form .search-field.single select,
.rbsearch-form .search-field.multi div select {
	padding: 2px;
}
.rbsearch-form .search-field.multi legend {
	float: left;
	width: 100%;
	padding-bottom: 5px;
}
.rbsearch-form .search-field.multi label {
	float: left;
	width: auto;
	clear: both;
	line-height: normal;
}
.rbsearch-form .search-field.multi div {
	width: 48%;
	float: left;
}
.rbsearch-form .search-field.multi div:last-child {
	margin-left: 4%;
}
.rbsearch-form .search-field.multi div label {
	width: 40%;
	float: left;
	line-height: 28px;
	text-align: center;
}
.rbsearch-form .search-field.multi div input[type="text"],
.rbsearch-form .search-field.multi div select {
	margin: 0;
	width: 60%;
	float: left;
}
.rbsearch-form .search-field.multi label input[type="checkbox"],
.rbsearch-form .search-field.multi label input[type="radio"] {
	margin: 0;
	float: left;
}
.rbsearch-form .search-field.single label, .rbsearch-form .search-field.multi legend {
	font-weight: bold;
}

/* Widget Form */
.rb_agency_widget_showsearch .rbsearch-form .search-field {
	width: 100%;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.single label {
	width: 100%;
	float: none;
	display: block;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.single input[type="text"] {
	width: 100%;
	float: none;
	display: block;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div label {
	width: 100%;
	float: none;
	display: block;
	text-align: right;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div input[type="text"],
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div select {
	width: 100%;
	float: left;
}
.rb_agency_widget_showsearch .rbsearch-form .search-field.multi div input[type="text"] {
	text-align: right;
}

/* Dashboard */
#rbdashboard {
	overflow: hidden;
	margin-bottom: 60px;
}
#rbdashboard h1 {
	margin-bottom: 30px;
}
#rbdashboard h2 {
	margin-bottom: 15px;
}
#rbdashboard #profile-info {
	width: 30%;
	float: right;
}
#rbdashboard #profile-info h3 {
	margin-bottom: 15px;
}
#rbdashboard #profile-info h4 {
	padding: 10px 0 0 0;
}
#rbdashboard #profile-info ul {
	margin: 0;
	list-style: none;
}
#rbdashboard #profile-info ul li {
	list-style: none;
	padding: 5px 0;
}
#rbdashboard #search {
	width: 65%;
	float: left;
}
img.fillwidth {
	width: 100%;
	height: auto;
}
img.fillheight {
	height: 100%;
	width: auto;
	max-width: none!important;
}

/* Category List: /profile-category/ (view-category.php) */
#profile-category .standardTable { width: 100%; }
#profile-category h1.profile-category-title { }
#profile-category-list { font-size: 18px; overflow: hidden; }
#profile-category-list .profile-category { width: 310px; float: left; margin: 0 0 10px 0; }
#profile-category-list .profile-category .name { }
#profile-category-list .profile-category .name a { text-decoration: none; border-bottom: 1px solid #CDF; }
#profile-category-list .profile-category .name span.count { color: #999; padding-left: 5px; font-size: 17px; }

/* -Results */
#profile-category .profile-category-results-wrapper { vertical-align: top; width: 70%; }
#profile-category .profile-category-results-wrapper .agency-category-results { }

/* -Filter Profiles */
#profile-category .profile-category-filter-wrapper { vertical-align: top; width: 30%; }
.profile-category-filter { color: #111; padding: 10px; overflow: hidden; background: #e5e5e5; margin: 10px 0; }]
.profile-category-filter h4 { margin: 0; font-weight: bold; border-bottom: 3px solid #aaa; padding: 0 0 10px 0; }
.profile-category-filter .search-field { float: left; clear: both; border-bottom: 1px solid #aaa; padding: 5px 0; width: 100%; }
.profile-category-filter .search-field .label { margin: 0 0 5px 0; }
.profile-category-filter .search-field input[type="text"], .profile-category-filter .search-field label { float: left; }
.profile-category-filter .search-field .stubby { width: 80px; float: left; }
.profile-category-filter .search-field.double label { margin: 0 10px 0 10px; width: auto; padding: 0; border: none; }
.profile-category-filter .search-field label { width: 120px; text-align :right; padding: 0 10px 0 0; line-height: 22px; }
.profile-category-filter .search-field label[for="ProfileCustomID7"] { line-height: normal; }
.profile-category-filter .search-field select#ProfileType { width: 50%; }

#profile-category #profile-search-form-condensed { overflow: hidden; background: #e5e5e5; margin: 10px 0; }
#profile-category .profile-category-filter-wrapper .agency-category-filter { }

/* Search Form: Wrapper  /profile-search/ (view-search.php) */
#profile-search { }
#profile-search .standardTable { width: 100%; margin: 20px 0 0 0; }
#profile-search h1.profile-search-title { }

/* Results */
#profile-search .profile-search-results-wrapper { vertical-align: top; width: 70%; }
#profile-search .profile-search-results { }

/* Filter Profiles */
.profile-search-filter-wrapper input.button-primary { margin: 20px 0 0 30%; }
#profile-search .profile-search-filter-wrapper { vertical-align: top; width: 30%; padding: 0; }
#profile-search .profile-search-filter { padding: 10px 10px 20px 10px; background: #eee; overflow: hidden; color: #111; }
#profile-search .profile-search-filter h3 { margin: 0 0 10px 0; padding: 0 0 5px 0; border-bottom: 3px solid #999; }
#profile-search .profile-search-filter .search-field { float: left; clear: both; border-bottom: 2px solid #aaa; padding: 10px 0; width: 100%; }
#profile-search .profile-search-filter .search-field .label { margin: 0 0 10px 0; padding: 0 0 5px 0; border-bottom: 1px solid #ccc; }
#profile-search .profile-search-filter .search-field input[type="text"], #profile-search .profile-search-filter .search-field label { float: left; }
#profile-search .profile-search-filter .search-field.single input[type="text"] { width: 48%; }
#profile-search .profile-search-filter .search-field .stubby { width: 24%; float: left; }
#profile-search .profile-search-filter .search-field.double label { margin: 0 10px 0 10px; width: 15%; padding: 0; border: none; line-height: 22px; }
#profile-search .profile-search-filter .search-field label { width: 45%; text-align :right; padding: 0 10px 0 0; line-height: 12px; }
#profile-search .profile-search-filter .search-field label[for="ProfileCustomID7"] { line-height: normal; }
#profile-search .profile-search-filter .search-field select { width: 50%; height: 24px; }

/* Search Form: Advanced  /client-view/{code}/ (view-profilesecure.php) */
#profile-private  { }

/* Profile Sidebar */
#profile-sidebar { width: 200px; padding: 10px; float: right; }
#profile-sidebar a { color: #28536C; }
#profile-sidebar a:hover { color: #2F617F; }  
#profile-sidebar ul { margin: 0; padding: 0; }
#profile-sidebar ul li { list-style: none; }

/* Profile Layouts */
#profile #info h2 { padding: 15px 0; }
#profile #stats ul { list-style: none; margin: 0px; padding: 0px; line-height: 22px; font-size: 13px; }

/* Profile Layout with Thumbnails (include-profile-layout0.php) */
#rblayout-zero #photos { text-align: center; font-size: 0px; }
#rblayout-zero #photos .inner { margin: 0 -5px; }
#rblayout-zero #photos .photo { width: 40%; max-width: 150px; overflow: hidden; display: inline-block; margin: 0px 7px 15px 7px; border-radius: 5px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ddd) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ddd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ddd');
	background-color:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5)
}
#rblayout-zero #photos .photo a { display: block; overflow: hidden; margin: 5px; border-radius: 2px; border: 1px solid #ddd; position: relative; }
#rblayout-zero #photos .photo a img { float: left; }
#rblayout-zero #photos .photo a img.fillheight { position: absolute; left: 50%; }
#rblayout-zero #stats { border: 1px solid #ccc; padding: 15px; }
#rblayout-zero #stats h2 { margin-bottom: 15px; }
#rblayout-zero #links ul li a { margin: 0px 5px 10px 5px; min-width: 200px; font-weight: normal; font-size: 14px; }
#rblayout-zero #movie { float: right; }
#rblayout-zero .experience { float: left; clear: both; margin: 20px 0 0 0; line-height: 18px; font-size: 13px; text-indent: 30px; }

/* Profile Layout with Thumbnails and Primary Image (include-profile-layout1.php) */
#rblayout-one { overflow: hidden; }
#rblayout-one #photos { padding: 15px; }
#rblayout-one #photos .multiple { float: left; margin: 0 15px 15px 0; }
#rblayout-one #photos img { height: 150px; float: left; }

/* Profile Layout with Scrolling Thumbnails and Primary Image (include-profile-layout2.php) */
#rblayout-two { overflow: hidden; }
#rblayout-two .mCSB_container a img { max-height: 150px; float: left; border: none; }
#rblayout-two #profile-picture a img { border: none; }

/* Profile Extended Layout (include-profile-layout3.php) */
#rblayout-three { overflow: hidden; }
#rblayout-three .row-zero { font-size: 30px; margin: 0 0 20px 0; overflow: hidden; }
#rblayout-three .row-one { padding: 10px 0; overflow: hidden; }
#rblayout-three #profile-picture-wrap {  }
#rblayout-three #profile-picture-wrap img { width: 150px; }
#rblayout-three #profile-picture { width: 150px; height: 200px; overflow: hidden; }
#rblayout-three .profile-picture-favorite { text-align: center; background: #ccc; font-size: 13px; padding: 5px; margin: 5px 0 0 0; }
#rblayout-three .profile-picture-favorite a { color: #666; }
#rblayout-three .profile-picture-favorite:hover { background: #bbb; }
#rblayout-three #profile-overview { line-height: 20px; }
#rblayout-three #profile-name h2 { font-size: 33px; }
#rblayout-three #profile-liner { overflow: hidden; margin: 10px 0; }
#rblayout-three #profile-liner div { float: left; margin: 0 5px 0 0; }
#rblayout-three #profile-actions { line-height: 22px; }
#rblayout-three #profile-actions-contact,
#rblayout-three #profile-actions-print { }
#rblayout-three #profile-actions-contact { width: 161px; background: url(style/buttons.png) no-repeat; height: 30px; margin: 0 0 10px 0; }
#rblayout-three #profile-actions-contact:hover { background-position: -161px 0; } 

#rblayout-three #profile-actions-contact span { display: none; }
#rblayout-three .row-photos { float: left; clear: both; padding: 20px 0; background: #fff; }
#rblayout-three .row-photos .multiple { float: left; width: 200px; margin: 0 15px 15px 0; overflow: hidden; border: 3px solid #CCC; height: 250px; }
#rblayout-three .row-photos .multiple:nth-child(3n+0) {  } 
#rblayout-three .row-photos .multiple img { float: left; max-width: 100%; }
#rblayout-three .row-two { overflow: hidden; margin: 20px 0 0 0; }
#rblayout-three .row-two #subMenuTab { overflow: hidden; }
#rblayout-three .row-two #subMenuTab a { float: left; border-left: 1px solid #fff; padding: 10px 20px; color: #555; background: url(style/bg-tab.png) repeat-x }
#rblayout-three .row-two #subMenuTab a:hover { color: #444; background: url(style/bg-tab.png) 0 -38px repeat-x  }
#rblayout-three .row-two #subMenuTab div.tab-inner, #rblayout-three .row-two #subMenuTab .tab-left, #rblayout-three .row-two #subMenuTab .tab-right { float: left; border: 1px solid #d1d1d1; border-bottom: 1px solid #acaca8; }
#rblayout-three .row-two #subMenuTab div.tab-inner, #rblayout-three .row-two #subMenuTab .tab-right { border-left: none; }
#rblayout-three .row-two #subMenuTab .tab-left { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }
#rblayout-three .row-two #subMenuTab .tab-left a { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }
#rblayout-three .row-two #subMenuTab .tab-left a { border: none; }
#rblayout-three .row-two #subMenuTab .tab-right { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
#rblayout-three .row-two #subMenuTab .tab-right a { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
#rblayout-three .row-two #subMenuTab .tab-active, #rblayout-three .row-two #subMenuTab .tab-active a { background: #fff; border-bottom: 1px solid #fff; }
#rblayout-three .row-physical { line-height: 22px; margin: 0 0 20px 0; padding: 10px 10px; background: #fff; }
#rblayout-three .row-physical div { padding: 5px; border-bottom: 1px solid #fff; }
#rblayout-three .row-physical div:nth-child(even){ background: #ddd; }
#rblayout-three .row-experience { margin: 20px 0; overflow: hidden; }

/* Profile Layout (Display Model Contact Information)  (include-profile-layout4.php) */
#rblayout-four { padding: 0 20px; overflow: hidden; }
#rblayout-four #name { margin-bottom: 15px; }
#rblayout-four #info { padding-left: 0; }
#rblayout-four h3 { margin: 0 0 10px 0; padding: 5px 8px; background: #454545; color: white; text-transform: uppercase; }
#rblayout-four #info .stats { font-size: 13px; }
#rblayout-four #photo { padding-right: 0; }
#rblayout-four #photo .multiple { float: left; margin: 0 10px 10px 0; overflow: hidden; }
#rblayout-four #photo .multiple img { max-width: 350px; max-height: 400px; }

/* Profile Layout Seven */
#rblayout-seven { overflow: hidden; background: #000; margin: 0 15px; margin-bottom: 30px; }
#rblayout-seven #profile-slider,
#profile-carousel { float: left; border: none; padding: 0; border-radius: 0; box-shadow: none; }
#rblayout-seven #profile-slider { margin-bottom: 0px; }
#rblayout-seven #profile-carousel { clear: both; width: 100%; display: block; background: #fff; padding-top: 10px; margin: 0; }
#rblayout-seven #profile-carousel .slides li { height: 150px; overflow: hidden; }
#rblayout-seven #profile-slider .slides img { border-radius: 0; box-shadow: none; } 
#rblayout-seven #profile-info { background: #000; padding: 30px 0; }
#rblayout-seven #profile-info h1 { color: #e2e2e2; font-weight: normal; text-transform: uppercase; padding: 30px; }
#rblayout-seven #profile-info ul { list-style: none; color: #959595; padding: 0 30px; margin: 0; }
#rblayout-seven #profile-info ul li { list-style: none; display: block; font-size: 16px; padding: 5px 0; }
#rblayout-seven #profile-info ul li span { font-style: italic; }
#rblayout-seven #profile-links { padding: 15px; float: right; clear: both; }
#rblayout-seven #profile-links li { display: inline-block; padding: 0 10px; border-right: 1px solid #e2e2e2; font-size: 14px; }
#rblayout-seven #profile-links li:last-child { border: none; }
#rblayout-seven #profile-links li a { color: #e2e2e2; text-decoration: none; text-transform: uppercase; }

/** Sign In - Register **/
#rbsignin-register { text-align: center; vertical-align: top; }
#rbsignin-register .inline-block { padding: 15px; text-align: left; vertical-align: top; margin: 15px; max-width: 350px; display: inline-block; }
#rbsignin-register .inline-block h1 { margin-bottom: 10px; }

/* Sign In */
#rbsignin-register .inline-block .field-row { padding: 10px 0; }
#rbsignin-register .inline-block .field-row label { display: block; margin-bottom: 5px; }
#rbsignin-register .inline-block .field-row input[type="text"],
#rbsignin-register .inline-block .field-row input[type="password"] { width: 100%; }
#rbsignin-register .inline-block .field-row input[type="password"] { margin-bottom: 5px; }

/* The foundation Grid ---------------------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }
.one, .row .one { width: 8.33333%; }
.two, .row .two { width: 16.66667%; }
.three, .row .three { width: 25%; }
.four, .row .four { width: 33.33333%; }
.five, .row .five { width: 41.66667%; }
.six, .row .six { width: 50%; }
.seven, .row .seven { width: 58.33333%; }
.eight, .row .eight { width: 66.66667%; }
.nine, .row .nine { width: 75%; }
.ten, .row .ten { width: 83.33333%; }
.eleven, .row .eleven { width: 91.66667%; }
.twelve, .row .twelve { width: 100%; }
.row .offset-by-one { margin-left: 8.33333%; }
.row .offset-by-two { margin-left: 16.66667%; }
.row .offset-by-three { margin-left: 25%; }
.row .offset-by-four { margin-left: 33.33333%; }
.row .offset-by-five { margin-left: 41.66667%; }
.row .offset-by-six { margin-left: 50%; }
.row .offset-by-seven { margin-left: 58.33333%; }
.row .offset-by-eight { margin-left: 66.66667%; }
.row .offset-by-nine { margin-left: 75%; }
.row .offset-by-ten { margin-left: 83.33333%; }
.push-two { left: 16.66667%; }
.pull-two { right: 16.66667%; }
.push-three { left: 25%; }
.pull-three { right: 25%; }
.push-four { left: 33.33333%; }
.pull-four { right: 33.33333%; }
.push-five { left: 41.66667%; }
.pull-five { right: 41.66667%; }
.push-six { left: 50%; }
.pull-six { right: 50%; }
.push-seven { left: 58.33333%; }
.pull-seven { right: 58.33333%; }
.push-eight { left: 66.66667%; }
.pull-eight { right: 66.66667%; }
.push-nine { left: 75%; }
.pull-nine { right: 75%; }
.push-ten { left: 83.33333%; }
.pull-ten { right: 83.33333%; }
img, object, embed { max-width: 100%; height: auto; }
object, embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

/* Small Devices ------------ */
@media only screen and (max-width: 767px) { /* Global Misc --- */
  /*                 */
  .left, .right { float: none; }
  body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  /* The Grid --- */
  /*              */
  .row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
  .column, .columns { width: auto !important; float: none; }
  .column:last-child, .columns:last-child { float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  .column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
  .column:after, .columns:after { clear: both; }
  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
  .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }  
}

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
  width:auto;
  margin-right:30px;
  overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
  margin-right:0;
}
.mCS_disabled .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_container.mCS_no_scrollbar{
  margin-right:30px;
}
.mCustomScrollBox .mCSB_scrollTools{
  width:16px;
  height:100%;
  top:0;
  right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0; 
  height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
  margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
  width:2px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
  cursor:pointer;
  width:100%;
  height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:4px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:center;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
  height:auto;
  margin-right:0;
  margin-bottom:30px;
  overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
  margin-bottom:0;
}
.mCS_disabled .mCSB_horizontal .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
  margin-right:0;
  margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
  width:100%;
  height:16px;
  top:auto;
  right:auto;
  bottom:0!important;
  left:0;
  overflow:hidden;
  background: #000;
}
.mCSB_horizontal .mCSB_scrollTools a+.mCSB_draggerContainer{
  margin:0 20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
  width:100%;
  height:2px;
  margin:7px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
  width:30px;
  height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:100%;
  height:4px;
  margin:6px auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
  display:block;
  position:relative;
  width:20px;
  height:100%;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;
  float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
  margin-left:-40px;
  float:right;
}
.mCustomScrollBox{
  -ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
  opacity:0.75;
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
  opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
  background:#000; /* rgba fallback */
  background:rgba(0,0,0,0.4);
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background:#fff; /* rgba fallback */
  background:rgba(255,255,255,0.75);
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
  background:rgba(255,255,255,0.85);
  filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background:rgba(255,255,255,0.9);
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
  background-image:url(../style/mCSB_buttons.png);
  background-repeat:no-repeat;
  opacity:0.4;
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonLeft{
  background-position:0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonRight{
  background-position:0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
  opacity:0.75;
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
  opacity:0.9;
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

.rb_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.rb_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.rb_button:active {
	position:relative;
	top:1px;
}

@media screen and (min-width: 960px) {

}