/* Profile Layout with Scrolling Thumbnails and Primary Image (include-profile-layout2.php) */

#rblayout-two .mCSB_container a img { max-height: 150px; float: left; margin: 0px 3px; }
#rblayout-two .mCSB_container a:first-child img { margin-left: 0px }
#rblayout-two .mCSB_container a:last-child img { margin-right: 0px; }
@media only screen and (min-width: 767px) {
  #rblayout-two .rbcol-5 { float: right; }
  #rblayout-two #info-links { margin: 0px -15px; }
}
#rblayout-two #scroller { padding: 7px; background: #e9e9e9; }

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
  width:auto;
  margin-right:30px;
  overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
  margin-right:0;
}
.mCS_disabled .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_container.mCS_no_scrollbar{
  margin-right:30px;
}
.mCustomScrollBox .mCSB_scrollTools{
  width:16px;
  height:100%;
  top:0;
  right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0; 
  height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
  margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
  width:2px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
  cursor:pointer;
  width:100%;
  height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:4px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:center;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
  height:auto;
  margin-right:0;
  margin-bottom:30px;
  overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
  margin-bottom:0;
}
.mCS_disabled .mCSB_horizontal .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
  margin-right:0;
  margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
  width:100%;
  height:16px;
  top:auto;
  right:auto;
  bottom:0!important;
  left:0;
  overflow:hidden;
  background: #000;
}
.mCSB_horizontal .mCSB_scrollTools a+.mCSB_draggerContainer{
  margin:0 20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
  width:100%;
  height:2px;
  margin:7px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
  width:30px;
  height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:100%;
  height:4px;
  margin:6px auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
  display:block;
  position:relative;
  width:20px;
  height:100%;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;
  float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
  margin-left:-40px;
  float:right;
}
.mCustomScrollBox{
  -ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox>.mCSB_scrollTools{
  opacity:0.75;
}
.mCustomScrollBox:hover>.mCSB_scrollTools{
  opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
  background:#000; /* rgba fallback */
  background:rgba(0,0,0,0.4);
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background:#fff; /* rgba fallback */
  background:rgba(255,255,255,0.75);
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
  background:rgba(255,255,255,0.85);
  filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background:rgba(255,255,255,0.9);
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
  background-image:url(../images/mCSB_buttons.png);
  background-repeat:no-repeat;
  opacity:0.4;
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonLeft{
  background-position:0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonRight{
  background-position:0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
  opacity:0.75;
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
  opacity:0.9;
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
#rblayout-two{ margin-top: 40px;}

/*.lb-outerContainer{height: 600px !important;width: auto !important;}
*/.lb-image{max-height: 600px !important; max-width:1000px !important;}