/* Profile Layout with Scrolling Thumbnails and Primary Image (include-profile-layout2.php) */
#rblayout-two { overflow: hidden; }
#rblayout-two .mCSB_container a img { max-height: 150px; float: left; border: 5px solid #e9e9e9; border-right: none; }
#rblayout-two .mCSB_container a:last-child img { border-right: 5px solid #e9e9e9; }
